{{> head }}

{{> theme }}

    <div class="">
        <section id="global">
            
{{> nav }}

             <!--SLIDER-->
                <div id="slider">
                    <ul>
                        <li class="slider">
                            <div class="caption">
                                <h3 class="epoca">{{estacion1}}</h3>
                                <img src="assets/img/invierno.jpg" alt="{{estacion1}}" title="{{estacion1}}">
                            </div>
                       </li>
                       <li class="slider">
                            <div class="caption">
                                <h3 class="epoca">{{estacion2}}</h3>
                                <img src="assets/img/verano.jpg" alt="{{estacion2}}" title="{{estacion2}}">
                            </div>
                       </li>
                       <li class="slider">
                            <div class="caption">
                                <h3 class="epoca">{{estacion3}}</h3>
                                <img src="assets/img/primavera.jpg" alt="{{estacion3}}" title="{{estacion3}}">
                            </div>
                       </li>
                       <li class="slider">
                            <div class="caption">
                                <h3 class="epoca">{{estacion4}}</h3>
                                <img src="assets/img/otono.jpg" alt="{{estacion4}}" title="{{estacion4}}">
                            </div>
                       </li>
                    </ul>
                    <ol class="pagination">
                    </ol>
                   
                        <div class="left">
                                <div class="fa fa-chevron-left"></div>
                            </div>
                            <div class="right">
                                <div class="fa fa-chevron-right"></div>
                        </div>
                   
                </div> 
                <br>
            <div id='cont'>
                <!--contenido-->
                <section id="contenido">
                        <div id="post">
                           
                        </div>
                        <aside id="sidebar">
                            <div id="about">
                                <h4>{{tituloSidebar}}</h4>
                                <img src="assets/img/user.jpg" alt="">
                                <p>{{textoSidebar}}</p>
                            </div>
                            <div class="formulario">
                                <h4>{{sesion}}</h4>
                                <input type="email" name="email" id="email" placeholder="ingrese su email" class="form-control">
                                <input type="password" name="clave" id="clave" placeholder="ingrese su clave" class="form-control">
                                <input type="submit" value="submit" class="btn">
                            </div>
                        </aside>
                        <div class="clearfix"></div>
                </section>
            </div>
             
        </section>
      {{> footer }}